main {
  margin: 0 auto;
  min-height: 100vh;
  background-image: url("../images/main1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__wrapper {
  max-width: 740px;
  padding: 0 20px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.aside {
  flex-basis: 17%;
  background-color: #c1c1c1;
  position: relative;
}

.aside::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 105%;
  right: -3px;
  background-color: #0074bd;
  height: 5px;
  border-radius: 5px;
}

header {
  background-color: #c1c1c1;
  height: 50px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}



.content__input {
  max-width: 70%;
}

.btn {
  border: none;
  padding: 5px 10px;
  background-color: rgb(221, 23, 23);
  opacity: 0.8;
  color: azure;
  border-radius: 5px;
  right: -80px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content__btn--confirm {
  right: -180px;
  display: none;
}

.btn:hover {
  transform: translate(5px, 5px);
  box-shadow: 12px 12px 2px 1px black;
}

.input[type="text"] {
  display: block;
  width: 90%;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 14px;
  font-size: 20px;
  outline: none;
  border: none;
  margin: 0 auto;
}

.input::placeholder {
  text-transform: uppercase;
  text-align: center;
}

.content__item {
  display: flex;
  justify-content: space-between;
  transition: all 2s;

  margin-bottom: 20px;
  align-items: center;
}

input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}

input[type="checkbox"]:checked + .label__check {
  color: yellow;
}
.fa-heart,
.fa-house {
  transition: all 0.5s;
}
i {
  cursor: pointer;
}
.fa-heart:hover {
  color: rgb(190, 31, 31);
}
.fa-house:hover {
  color: rgb(190, 31, 31);
}
.content__btn {
  top: 0;
}

.content__btn--change {
  right: -185px;
}

.burger__content {
  display: none;
  position: absolute;
  right: -160px;
  bottom: -70px;
}

/* .burger__content :first-child::after {
    content: "";
    top: -100px;
    right: 0;
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: black;
} */

.content__line:first-child::after {
  background-color: rgb(14, 12, 12);
  content: "";
  top: -100px;
  right: 0;
  position: absolute;
  width: 50px;
  height: 2px;
}

.content__line:nth-child(2)::after {
  content: "";
  top: -90px;
  right: 0;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: black;
}

.burger__content::before {
  content: "";
  top: -80px;
  right: 0;
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: black;
}

.content__check-wrapper {
  order: -1;
  display: flex;
  flex-grow: 1;
  max-width: 40px;
  justify-content: space-between;
  align-items: center;
}
.content__icons {
  display: flex;
  flex-grow: 1;
  max-width: 80px;
  justify-content: space-between;
}
.label__done {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type="checkbox"]:checked + .label__done {
  background-color: rgb(72, 146, 72);
}

/* 
@media (max-width: 1000px) {
  .burger__content {
    display: block;
  }

  .content__btn--change,
  .content__btn--delete {
    transform: translateY(-100000%);
  }

  .active {
    transform: translateY(0%);
  }

  .content__btn--delete {
    top: 0;
  }

  .content__btn--change {
    right: -89px;
    top: 34px;
  }

  .content__item {
    margin-bottom: 40px;
  }
}
 */

@media (max-width: 1000px) {
  i.fa-solid.fa-heart {
    top: 10px !important;
    left: 10px !important;
  }
}

@media (max-width: 500px) {
  .content__check-wrapper{
    flex-direction: column;
  }
  .form__input.input{
  width: 80%;
  }
  .content__check {
    flex-direction: column;
  }
  label:first-child {
    margin-bottom: 10px;
  }
  .content__icons {
    flex-direction: column;
    align-items: center;
  }
  .fa-solid.fa-trash{
    margin-bottom: 10px;
  }
  .content__item{
    margin-bottom: 65px;
  }
  i.fa-solid.fa-heart {
    top: 80% !important;
    left: 85% !important;
  }
}
